:local {
  .current {
    fill : hsla(217, 95%, 30%, 0.9);
  }
  
  .button {
    fill         : hsl(217, 95%, 20%);
    fill-opacity : 0;

    &:hover {
      fill-opacity : 0.8;
    }
  }

  .in {
    fill : hsla(217, 70%, 60%, 0.4);
  }

  .out {
    fill : hsla(262, 70%, 60%, 0.4);
  }

  .deny {
    fill : hsla(0, 70%, 60%, 0.4);
  }

  .dateMarker {
    stroke : hsla(0, 0, 0, 0.3);
    stroke-width : 1;
    fill   : none;
  }

  .workdayMarker {
    stroke           : hsla(0, 0, 0, 0.2);
    stroke-width     : 1;
    fill             : none;
  }

  .offHours {
    stroke : none;
    fill   : rgba(0, 0, 0, 0.05);
  }

  .date {
    fill : white;
    stroke : hsla(0, 0, 0, 0.3);
    stroke-width     : 1;
  }
}
