:local {
  .wrapper {
    display : flex;

    .srcip, .dstip {
      width       : 15ch;
      font-weight : bold;
      cursor      : pointer;

      &.selected {
        color : #e07d7d;
      }
    }
  
    .symbol {
      margin  : 0 2px;
      opacity : 0.5;
    }
  
    .port {
      width : 5ch;
    }

    .service {
      margin-left : 2px;
      opacity     : 0.5;
      width       : 10ch;
    }
  }
}
