:local .app {

  position   : absolute;
  top        : 0;
  bottom     : 0;
  left       : 0;
  right      : 0;
  background : #eee;
  padding    : 1em;

  > svg { 
    display    : block;
    position   : absolute;
    top        : 1rem;
    left       : 1rem;
    border     : 1px solid #ccc;
    background : white;
  }

  .tables {
    position : absolute;
    top      : 1rem;
    right    : 1rem;
    left     : calc(2rem + 1000px);
    height   : calc(1000px + 1rem);
    display  : flex;
    flex-direction : column;

    > div {
      margin-bottom : 1rem;
    }
  }

  .spanSelect {
    position : absolute;
    top      : 13rem;
    left     : 2rem;
    width    : 100px;
  }

  .loading {
    position        : absolute;
    top             : 0;
    right           : 0;
    bottom          : 0;
    left            : 0;
    background      : rgba(240, 240, 240, 0.8);
    display         : flex;
    align-items     : center;
    justify-content : center;
    font-size       : 5rem;
    z-index         : 2;
  }

}
