:local {
  .table {
    flex : 1 1 auto;
    border     : 1px solid #ccc;
    background : white;
    padding : 1rem;

    .host {
      font-weight : bold;
      cursor      : pointer;

      &.selected {
        color : #e07d7d;
      }
    }
  }
}
